 .header {
     background-size: 100%;
     background-repeat: no-repeat;
     min-height: 80vh;
 }

 .overlay {
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     background: rgb(34, 37, 41);
     background: linear-gradient(180deg, rgba(34, 37, 41, 0.19653799019607843) 0%, rgba(34, 37, 41, 0.61390493697479) 18%, rgba(34, 37, 41, 1) 50%);
 }
 .btn{ 
    font-weight: 500;
    font-size: 0.8rem;
    width: 140px !important;
}
.btn-close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
}
h1{
    color: white;
    font-size: 2rem;
}
p{
    color: rgb(227, 227, 227); 
    font-size: 0.8rem;
}