<div class="main bg-dark">
    <div class="header"
        [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w500/'+movie.backdrop_path +')'}">
        <div class="overlay d-flex align-items-end justify-content-between p-4 pb-5">
            <div>
                <h1>{{movie.title}}</h1>
                <button class="btn mt-3 btn-secondary">Reproduce</button>
                <p class="mt-5"><span class="text-success me-3">97% for you</span> 2020 <span
                        class="p-1 ms-3 border">HD</span></p>
                <p class="w-75 mt-2">{{movie.overview}}</p>
                <ngb-rating class="text-white" [rate]="4"></ngb-rating>
                <p class="text-muted">{{movie.vote_count}} views</p>
                <div>
                    <button class="btn btn-secondary me-2">Watch Now</button>
                    <button class="btn btn-danger">Download</button>
                </div>
            </div>

        </div>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>